$black-color : #1D1D1D;
$soft-grey-color : #E5E5E5;
$grey-color : #474747;
$orange-color : #F26440;
$white-color : #FFFFFF;

$heading-1-size : 64px;
$heading-2-size : 48px;
$heading-3-size : 34px;
$heading-4-size : 24px;
$heading-5-size : 20px;

$body-1-size : 18px;
$body-2-size : 16px;
$body-3-size : 14px;